body {
    background-color: rgb(249, 248, 248);
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

main {
    background-color: white;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .2);
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    width: 80%;
}

button,
select {
    background: none;
    border: 1px solid black;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .2);

    cursor: pointer;
    margin: 5px 0 5px 0;
    padding: .5rem 1rem .5rem .45rem;

    display: flex;
    align-items: center;

    text-align: left;

}

button:hover,
select:hover {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, .4);


}

.control-buttons-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}



.item {
    background-color: white;
    border: 1px solid #000;
    margin: 0 0 20px 0;
    padding: 5px;
}

.item-container {
    border: .2px solid black;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .2);
    max-height: 80vh;
    max-width: 25vw;
    overflow-x: scroll;
    padding: 10px;
}

.no-items {
    background-color: white;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .2);
    border: 1px solid #000;
    margin: 0 0 20px 0;
    padding: 5px;
    min-width: 200px;
}

.item-container {
    border: .2px solid black;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .2);
    max-height: 80vh;
    max-width: 25vw;
    overflow-x: scroll;
    padding: 10px;
}

.focusID-button::before,
.clear-button::before,
.location-button::before,
.offense-button::before,
.neighborhood-button::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-size: contain;


}

.control .focusID-button,
.control .clear-button,
.control .location-button,
.control .offense-button,
.control .neighborhood-button {
    border: 1px solid red;

}



.neighborhood-button::before {
    background-image: url('../images/house.png');
}


.location-button::before {
    background-image: url('../images/loc.png');
}

.offense-button::before {
    background-image: url('../images/phone.png');
}

.control .focusID-button::before,
.control .clear-button::before,
.control .location-button::before,
.control .offense-button::before,
.control .neighborhood-button::before {

    background-image: url('../images/close.png');
}


.data {
    display: flex;
    flex-direction: row;
}

#map {
    height: 480px;
    width: 500px;
}