<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>List</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
  </head>
  <body>
    <main>
      <section class="control">
        <label for="startDate">Start Date:</label>
        <input
          type="date"
          id="startDate"
          required
          th:value="${query.startDate}"
          name="startDate"
          onchange="updateParams(this)"
        />

        <label for="endDate">End Date:</label>
        <input
          type="date"
          id="endDate"
          required
          th:value="${query.endDate}"
          name="endDate"
          onchange="updateParams(this)"
        />

        <br />
        <label for="calls">Daily Calls:</label>
        <input
          type="radio"
          id="calls"
          th:checked="${query.source == 'calls'}"
          name="source"
          value="calls"
          onclick="updateParams(this)"
        />

        <label for="incidents">Incident Reports:</label>
        <input
          type="radio"
          id="incidents"
          name="source"
          value="incidents"
          th:checked="${query.source == 'incidents'}"
          onclick="updateParams(this)"
        />

        <br />
        <span>Sort:</span>
        <div class="control-buttons-row">
          <select
            id="sortMethod"
            name="sortMethod"
            onchange="updateParams(this)"
          >
            <option
              value="datetimeSort"
              th:selected="${query.sortMethod == 'datetimeSort'}"
            >
              Date / Time
            </option>
            <option
              value="locationSort"
              th:selected="${query.sortMethod == 'locationSort'}"
            >
              Location
            </option>
            <option
              value="typeSort"
              th:selected="${query.sortMethod == 'typeSort'}"
            >
              Type
            </option>
          </select>
          <select
            id="sortDirection"
            name="sortDirection"
            onchange="updateParams(this)"
          >
            <option value="ASC" th:selected="${query.sortDirection == 'ASC'}">
              ASC
            </option>
            <option value="DESC" th:selected="${query.sortDirection == 'DESC'}">
              DESC
            </option>
          </select>
        </div>
        <div class="control-buttons-row">
          <button
            class="location-button"
            name="location"
            onclick="updateParams(this)"
            th:if="${query.location}"
            th:text="${query.location}"
          ></button>

          <button
            class="offense-button"
            name="offense"
            onclick="updateParams(this)"
            th:if="${query.offense}"
            th:text="${query.offense}"
          ></button>

          <button
            class="neighborhood-button"
            name="neighborhood"
            onclick="updateParams(this)"
            th:if="${query.neighborhood}"
            th:text="${query.neighborhood}"
          ></button>

          <button
            class="focusID-button"
            name="focusID"
            onclick="updateParams(this)"
            th:if="${query.focusID}"
          >
            Undo Zoom
          </button>
        </div>
        <form action="/" method="get">
          <button class="clear-button" type="submit">Clear All Filters</button>
        </form>
      </section>

      <section class="data">
        <div class="item-container">
          <div
            th:if="${!errorMessage.empty}"
            th:text="${errorMessage}"
            class="no-items"
          ></div>
          <div th:if="${items ==null or items.empty}" class="no-items">
            Nothing here...
          </div>
          <div th:each="item : ${items}" class="item">
            <div class="item-body">
              <span th:text="${item.displayDate}"></span>
              <span th:if="${item.displayTime}"> - </span>
              <span
                th:text="${item.displayTime}"
                th:if="${item.displayTime}"
              ></span>
              <br />

              <button
                class="offense-button"
                name="offense"
                onclick="updateParams(this)"
                th:value="${item.offense}"
                th:if="${item.offense}"
                th:text="${item.offense}"
              ></button>

              <button
                class="location-button"
                name="location"
                onclick="updateParams(this)"
                th:value="${item.location}"
                th:if="${item.location}"
                th:text="${item.location}"
              ></button>

              <button
                class="neighborhood-button"
                name="neighborhood"
                onclick="updateParams(this)"
                th:value="${item.neighborhood}"
                th:if="${item.neighborhood}"
                th:text="${item.neighborhood}"
              ></button>
            </div>
            <button
              class="focus-button"
              name="focusID"
              onclick="updateParams(this)"
              th:value="${item.id}"
              th:if="${item.neighborhood}"
            >
              Zoom On Map
            </button>
          </div>
        </div>
        <div id="map"></div>
      </section>
    </main>

    <script>
      function updateParamsWithPopUp(name, value) {
        updateParams({ name: name, value: value });
      }
      function updateParams(element) {
        var name = element.name;
        var value = element.value;

        var urlParams = new URLSearchParams(window.location.search);

        if (value) {
          urlParams.set(name, value);
        } else {
          urlParams.delete(name);

          if (
            urlParams.toString().split("&").length === 1 &&
            urlParams.has("focusID")
          ) {
            urlParams.delete("focusID");
          }
        }

        var newUrl = window.location.pathname + "?" + urlParams.toString();
        window.history.replaceState({}, "", newUrl);

        window.location.href = newUrl;
      }
    </script>
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <script>
      var map = L.map("map").setView([38.627, -90.3], 11);
      L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 19,
        attribution:
          '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      }).addTo(map);
    </script>

    <script th:inline="javascript">
      var data = [[${items}]];
      var queryID = [[${query.focusID}]];

      var locaiton;

      var lat = 38.627;
      var long =  -90.3;
      var zoom = 11;

      if(queryID){

         lat= parseFloat(data[0].latitude);
         long = parseFloat(data[0].longitude);
         zoom = 18;
         map.setView([lat, long], zoom);
      }


      for (var i = 0; i < data.length; i++) {
          const latitude = parseFloat(data[i].latitude);
          const longitude = parseFloat(data[i].longitude);

           let popUpText = "Date: " + data[i].displayDate + '<br>';

           if(data[i].displayTime !== ""){
            popUpText += "Time: " + data[i].displayTime + '<br>';
           }

             popUpText += "Location: <a href='#' onclick='updateParams({ name: \"location\", value: \"" + data[i].location + "\" }); return false;'>" + data[i].location + '</a><br>' +
            "Offense: <a href='#' onclick='updateParams({ name: \"offense\", value: \"" + data[i].offense + "\" }); return false;'>" + data[i].offense + '</a><br>';

          if (!isNaN(latitude) && !isNaN(longitude)) {
              L.marker([latitude, longitude]).bindPopup(popUpText).addTo(map)
          }
      }
    </script>
  </body>
</html>
