<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>List</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
  </head>
  <body>
    <section class="control">
      <form id="dateForm" onsubmit="updateParamsAndSubmit(); return false;">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" required value="2023-12-30" />

        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" required value="2023-12-31" />
        <button type="submit">Submit</button>
      </form>
    </section>
    <h1 th:text="${errorMessage}"></h1>
    <div th:each="item : ${items}">
      <span th:text="${item.location}"> </span>
      <span th:text="${item.offense}"> </span>
      <span th:text="${item.neighborhood}"> </span>
    </div>
    <script th:inline="javascript">
      function updateParamsAndSubmit(key, value) {
        var startDate = document.getElementById("startDate").value;
        var endDate = document.getElementById("endDate").value;

        var currentUrl = window.location.href;

        var params = {};

        var urlParams = new URLSearchParams(window.location.search);

        urlParams.forEach(function (v, k) {
          params[k] = v;
        });

        if (value == null) {
          delete params[key];
        } else {
          params[key] = value;
        }

        params.startDate = startDate;
        params.endDate = endDate;

        var newUrl =
          currentUrl.split("?")[0] + "?" + new URLSearchParams(params);

        window.location.href = newUrl;
      }

      function submitSort(sortMethod) {
        var currentUrl = window.location.href;
        var url = new URL(currentUrl);

        url.searchParams.set("sortMethod", sortMethod);

        window.location.href = url.toString();
      }

      function toggleSortDirection() {
        var currentUrl = window.location.href;
        var url = new URL(currentUrl);

        var currentDirection = url.searchParams.get("sortDirection");

        var newDirection = currentDirection === "ASC" ? "DESC" : "ASC";

        url.searchParams.set("sortDirection", newDirection);

        window.location.href = url.toString();
      }
    </script>
  </body>
</html>
