<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Call List</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
  </head>
  <body>
    <main>
      <section class="display">
        <div th:each="incident : ${incidents}">
          <div class="card">
            <div th:text="${incident.date} + ${'   '}+ ${incident.time}"></div>
            <div th:text="${incident.offense}"></div>
            <div
              th:text="${incident.location} + ${', '}+ ${incident.city}"
            ></div>
          </div>
        </div>
      </section>
      <section class="control">
        <form id="dateForm" onsubmit="updateParamsAndSubmit(); return false;">
          <label for="startDate">Start Date:</label>
          <input type="date" id="startDate" required value="2023-12-30" />

          <label for="endDate">End Date:</label>
          <input type="date" id="endDate" required value="2023-12-31" />
          <button type="submit">Submit</button>
        </form>
        <div class="sort">
          <span>Sort:</span>
          <select id="sortCategory" onchange="submitSort(this.value)">
            <option
              th:value="'datetimeSort'"
              th:selected="${sortMethod == 'datetimeSort'}"
            >
              Date / Time
            </option>
            <option
              th:value="'locationSort'"
              th:selected="${sortMethod == 'locationSort'}"
            >
              Location
            </option>
            <option
              th:value="'typeSort'"
              th:selected="${sortMethod == 'typeSort'}"
            >
              Type
            </option>
          </select>

          <button id="sortDirection" onclick="toggleSortDirection()">
            <span th:text="${sortDirection}"></span>
          </button>
        </div>
        <p th:if="${error}" th:text="${error}"></p>
        <div id="map"></div>
      </div>
      <div class="filter">
        <p class="callCount"></p>
        <div class="typeContainer">
          <button
            th:if="${type}"
            class="type buttonBox"
            th:text="${type}"
            th:onclick="updateParamsAndSubmit('type', null)"
          ></button>
        </div>
        <div class="locationContainer">
          <button
            th:if="${location}"
            class="location buttonBox"
            th:text="${location}"
            th:onclick="updateParamsAndSubmit('location', null)"
          ></button>
        </div>
      </div>
    </main>
    <script th:inline="javascript">
      function updateParamsAndSubmit(key, value) {
        var startDate = document.getElementById("startDate").value;
        var endDate = document.getElementById("endDate").value;
        console.log(startDate);

        var currentUrl = window.location.href;

        var params = {};

        var urlParams = new URLSearchParams(window.location.search);

        urlParams.forEach(function (v, k) {
          params[k] = v;
        });

        if (value == null) {
          delete params[key];
        } else {
          params[key] = value;
        }


        params.startDate = startDate;
        params.endDate = endDate;

        var newUrl =
          currentUrl.split("?")[0] + "?" + new URLSearchParams(params);

        window.location.href = newUrl;
      }

      function submitSort(sortMethod) {
        var currentUrl = window.location.href;
        var url = new URL(currentUrl);

        url.searchParams.set("sortMethod", sortMethod);

        window.location.href = url.toString();
      }

      function toggleSortDirection() {
        var currentUrl = window.location.href;
        var url = new URL(currentUrl);

        var currentDirection = url.searchParams.get("sortDirection");

        var newDirection = currentDirection === "ASC" ? "DESC" : "ASC";

        url.searchParams.set("sortDirection", newDirection);

        window.location.href = url.toString();
      }
    </script>
  </body>
</html>
